body {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    
}

main {
    margin: 5rem;
    background-color: #fff;
    align-items: center;
    display: flex;
    border-radius: 20px;

}
.bg-grupo {
    position: relative;
    

}

.img-bg {
    width: 300px;
    position: relative;
}
.box {
    float: left;
    position: absolute; left: -130px; top: 20%;

}
.womam {
    width: 300px;
    float: left;
    position: absolute; left: -30px; bottom: 15%;
}


.faq {
    position: relative;
}

.titulo {
    font-size: 3rem;
}

/* footer */

footer {

    text-align: center;
    padding-bottom: 10px;
}

.fa-brands {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 10px;
    color: rgb(12, 12, 16);
    border-radius: 50%;
    transition: all .2s linear;
    cursor: pointer;
    align-items: center;

}

.fa-brands:hover{
    width: 40px;
    color: rgb(224, 222, 222);
    font-size: 1.5rem;
    border-color: #000;

}

footer p {
    font-size: 0.5em;
}