body {
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, hsla(240, 73%, 65%, 1) 0%, hsla(257, 74%, 65%, 1) 50%, hsla(273, 75%, 66%, 1) 100%);
    background-attachment: fixed;
    
}

.layout {
    width: 100%;
    max-width: 1440px;
    height: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-grupo {
    position: relative;
    

}

/* .img-bg {
    width: 300px;
    position: relative;
}
.box {
    float: left;
    position: absolute; left: -130px; top: 20%;

}
.womam {
    width: 300px;
    float: left;
    position: absolute; left: -30px; bottom: 15%;
} */




.titulo {
    font-size: 3rem;
}
/* Imagens */
.bg-grupo {
    width: 95%;
    max-width: 40%;
    height: 510px;
    /* margin-left: 2.7rem; */
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 40px 35px -5px rgba(0, 0, 0, 0.25);
}

.box-desktop {
    background-image: url(./illustration-box-desktop.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* background-size: contain; */
    position: absolute;
    right: 93px;
    top: 204px;
    /* float: inline-end; */
}

.womam-desktop {
    background-image: url(./illustration-woman-online-desktop.svg);
    width: 100%;
    height: 100%;
    min-width: 450px;
    background-size: 100.3%;
    background-position-x: -70px;
    background-position-y: 70px;
    background-repeat: no-repeat;
}

.bg-desktop {
    background-image: url(bg-pattern-desktop.svg);
    width: 100%;
    min-width: 450px;
    background-size: 200% 185%;
    background-position-x: -480px;
    background-position-y: -294px;
    background-repeat: no-repeat; 
    position: relative;
    left: -90%;
}


/* Corpo com texto */

.faq {
    width: 100%;
    min-width: 360px;
    max-width: 450px;
    height: 100%;
    padding: 4rem 5rem 4rem 4rem;
    transition: all .4s ease-in-out;
}

.titulo {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

.box-texto {
    min-width: 295px;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.questao {
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.questao:hover {
    color: hsl(14, 88%, 65%);
}

.titulo-dois {
    font-weight: 700;
}

.paragrafo {
    width: 312px;
    display: none;
    opacity: 0;
    margin-top: .5rem;
    font-weight: 700;
    font-size: .8rem;
    line-height: 1rem;
}

/* movimento para o click usando fadein */

.mostrar-txt {
    display: block;
    opacity: 1;
    animation: fadein 1s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.setinha {
    width: 12px;
    height: 8px;
    margin-right: 12px;
}

.rotacao {
    transform: rotate(180deg);
    transition: all .18s ease-in-out;
}

.espace {
    width: 100%;
    margin: 1rem 0 .9rem 0;
    border: 1px solid hsl(240, 5%, 93%);
}

/* footer */

footer {

    text-align: center;
    padding-bottom: 10px;
}

.fa-brands {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 10px;
    color: rgb(12, 12, 16);
    border-radius: 50%;
    transition: all .2s linear;
    cursor: pointer;
    align-items: center;

}

.fa-brands:hover{
    width: 40px;
    color: rgb(224, 222, 222);
    font-size: 1.5rem;
    border-color: #000;

}

footer p {
    font-size: 0.5em;
}