body {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    
}

.layout {
    margin: 5rem;
    background-color: #fff;
    display: flex;
    border-radius: 20px;

}
.bg-grupo {
    position: relative;
    

}

/* .img-bg {
    width: 300px;
    position: relative;
}
.box {
    float: left;
    position: absolute; left: -130px; top: 20%;

}
.womam {
    width: 300px;
    float: left;
    position: absolute; left: -30px; bottom: 15%;
} */


.faq {
    position: relative;
}

.titulo {
    font-size: 3rem;
}
/* Imagens */
.bg-grupo {
    width: 95%;
    max-width: 40%;
    height: 510px;
    /* margin-left: 2.7rem; */
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 40px 35px -5px rgba(0, 0, 0, 0.25);
}

.womam-desktop {
    background-image: url(./illustration-woman-online-desktop.svg);
    width: 100%;
    height: 100%;
    min-width: 450px;
    background-size: 100.3%;
    background-position-x: -70px;
    background-position-y: 70px;
    background-repeat: no-repeat;
}

.bg-desktop {
    background-image: url(bg-pattern-desktop.svg);
    width: 100%;
    min-width: 450px;
    background-size: 200% 185%;
    background-position-x: -480px;
    background-position-y: -294px;
    background-repeat: no-repeat; 
    position: relative;
    left: -90%;
}

.box-desktop {
    background-image: url(./illustration-box-desktop.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    right: 93px;
    top: 204px;
}


/* footer */

footer {

    text-align: center;
    padding-bottom: 10px;
}

.fa-brands {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 10px;
    color: rgb(12, 12, 16);
    border-radius: 50%;
    transition: all .2s linear;
    cursor: pointer;
    align-items: center;

}

.fa-brands:hover{
    width: 40px;
    color: rgb(224, 222, 222);
    font-size: 1.5rem;
    border-color: #000;

}

footer p {
    font-size: 0.5em;
}